[detect-secrets]
# detect-secrets yapılandırması
# https://github.com/Yelp/detect-secrets

# Kullanılan eklentiler (secret dedektörleri)
plugins_used:
  - name: ArtifactoryDetector
  - name: AWSKeyDetector
  - name: AzureStorageKeyDetector
  - name: BasicAuthDetector
  - name: CloudantDetector
  - name: GitHubTokenDetector
  - name: HexHighEntropyString
    hex_limit: 3
  - name: IbmCloudIamDetector
  - name: IbmCosHmacDetector
  - name: JwtTokenDetector
  - name: KeywordDetector
  - name: MailchimpDetector
  - name: NpmDetector
  - name: PrivateKeyDetector
  - name: SendGridDetector
  - name: SlackDetector
  - name: SoftlayerDetector
  - name: SquareOAuthDetector
  - name: StripeDetector
  - name: TwilioKeyDetector

# Taranmayacak dosyalar
filters_used:
  - name: is_baseline_file
  - name: is_indirect_reference
